.navbar {
  position: fixed;
  width: 100%;
  height: 30vh;
  background: slateblue;
}
#container {
  position: absolute;
  color: rgb(228, 199, 199);
  text-transform: uppercase;
  height: 16vh;
  width: 50px;
  top: 10%;
  /* left: 50%; */
  display: block;
}

#flip {
  height: 25px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  margin-bottom: 45px;
  height: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
  width: 100%;
  text-align: center;
  /* height: 60px; */
}
#flip div:first-child div {
  background: #4ec7f3;
  width: 100%;
  text-align: center;
}
#flip div:last-child div {
  background: #dc143c;
  width: 100%;
  text-align: center;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  70% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.form-group,
.dateAndTime {
  min-height: 100vh;
  position: fixed;
  width: 50%;
  top: 25%;
  overflow-x: hidden;
  min-height: 100vh;
}
.form-group {
  left: 0;
  background: green;
}
.dateAndTime {
  right: 0;
  background: salmon;
}
input[type="text"],
input[type="email"] {
  position: relative;
  left: 20px;
  width: 55%;
  height: 24px;
}
.continueButton {
  position: relative;
  background: #d35400;
  color: white;
  left: 5%;
  /* bottom: 8%; */
}
#clock {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  color: #fff;
}

label {
  position: relative;
  left: 20px;
  color: white;
  font-size: 14px;
  text-shadow: #000 2px 2px 2px;
}

input {
  display: block;
  overflow: hidden;
  padding: 10px 6px;
  border-radius: 2px;
  outline: none;
  border: 2px solid #cfcfcf;
}

input.error {
  border: 2.5px solid red;
}

.errorMessage {
  color: red;
  font-size: 1.2em;
  display: relative;
}
