.form-group,
.dateAndTime {
  min-height: 100vh;
  position: fixed;
  width: 50%;
  top: 25%;
  overflow-x: hidden;
  min-height: 100vh;
}
.form-group {
  left: 0;
  background: gold;
}
.dateAndTime {
  right: 0;
  background: maroon;
}

input[type="text"] {
  position: relative;
  left: 20px;
  width: 55%;
  height: 24px;
}
label {
  position: relative;
  left: 20px;
  color: white;
  font-size: 1.3em;
  text-shadow: #000 2px 2px 2px;
}
span {
  position: relative;
  left: 20px;
  color: red;
  font-size: 1em;
  font-weight: bold;
}

.header {
  text-align: center;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: Oxygen;
}
.header:hover {
  color: rgb(206, 17, 4);
}

input {
  display: block;
  overflow: hidden;
  padding: 10px 6px;
  border-radius: 2px;
  outline: none;
  border: 2px solid #cfcfcf;
}

input::placeholder {
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 2.5px solid red;
}

.errorMessage {
  color: red;
  font-size: 1.2em;
  display: relative;
}

.continueButtonOne {
  background: #c170c1;
  color: #fff;
}
.backButtonOne {
  background: dodgerblue;

  color: #fff;
}
