.formGroup {
  background-image: linear-gradient(
    to left,
    #c170c1,
    #46504e,
    #6ff7be,
    #27d4da
  );
  opacity: 0.75;
  position: relative;
  width: 100%;
  height: 165px;
  margin-right: auto;
  border-radius: 30px;
}
input[type="text"] {
  position: relative;
  left: 20px;
}

label {
  position: relative;
  left: 20px;
  color: white;
  font-size: 1.5em;
  text-shadow: #000 2px 2px 2px;
}
span {
  position: relative;
  left: 20px;
  color: red;
  font-size: 1em;
  font-weight: bold;
}
.space {
  left: 200px;
  margin-left: 20px;
}

.header {
  text-align: center;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-family: Roboto;
}
.header:hover {
  color: rgb(240, 118, 47);
}

input {
  display: block;
  overflow: hidden;
  padding: 10px 6px;
  border-radius: 2px;
  outline: none;
  border: 2px solid #cfcfcf;
}

input::placeholder {
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 2.5px solid red;
}
.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.errorMessage {
  color: red;
  font-size: 1.2em;
  display: relative;
}
